body {
  background-color: #fff3e9;
  font-family: ultra, serif;
  font-weight: 400;
  font-style: normal;
}
.rtA {
  color: #ff6949;
}
.rtB {
  color: #8f5d46;
}
.rtC {
  color: #bc1823;
}
.rtE {
  color: #ffa600;
}
.rfF {
  color: #32620e;
}
.rtG {
  color: #008080;
}
.rtW {
  color: #5a1453;
}
div.routeTitle {
  width: 35%;
  display: inline-block;
  font-size: 200%;
  text-align: center;
}
div.allRts {
  width: 35%;
  display: inline-block;
  text-align: center;
}
div.logoMenu {
  width: 20%;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}
.logoMenu img {
  width: 30%;
  text-align: right;
}
